{{ define "Index" }} {{ template "Header" }}
<div class="container">
  <h2>Tool List</h2>

  <p>
    <a href="/new" class="btn btn-primary">New Tool</a>
    <a href="/categories" class="btn btn-secondary">Manage Categories</a>
  </p>
  <table id="tabledata" class="display" style="width: 100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>URL</th>
        <th>Rating</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{ range .tools }}
      <tr>
        <td>{{ .Id }}</td>
        <td>{{ .Name }}</td>
        <td>{{ .Category.Name }}</td>
        <td><a href="{{ .URL }}" target="_blank">{{ .URL }}</a></td>
        <td>{{ .Rating }}</td>
        <td>
          <a href="/show?id={{ .Id }}" class="btn btn-primary">View</a>
          <a href="/edit?id={{ .Id }}" class="btn btn-primary">Edit</a>
          <a href="/delete?id={{ .Id }}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{ template "Footer" }} {{ end }}
